body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
  }

  main {
    height: 300px;
    width: 100%;
    background-image: url("../assets/R.jpg");
    background-size: cover;
    background-position: top;
  }
  
  h1 {
    font-size: 200%;
  }
  
  h2 {
    margin: 2% 0;
    display: flex;
    justify-content: space-between;
    font-size: 150%;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  
  nav a {
    color: #b9C6ae;
    font-weight: bold;
    text-decoration: none;
    margin: 10px;
  }
  
  nav a:hover {
    color: #fff;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 2%;
    background-color: #13293d;
    color: #fff;
  }

  footer ul {
    display: flex;
    min-width: 300px;
  }

  footer a {
    margin: 10px;
    color: #b9C6ae;
    font-weight: bold
  }